<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAsyncService" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ISuperCalc" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10000/AsyncService/endpoint2"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAsyncService"
                contract="AsyncService.IAsyncService" name="BasicHttpBinding_IAsyncService" />
            <endpoint address="http://localhost:10000/CallbackService/endpoint3"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ISuperCalc"
                contract="CallbackService.ISuperCalc" name="WSDualHttpBinding_ISuperCalc">
                <identity>
                    <userPrincipalName value="HP-ENVY-WIN11\Mateusz" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>