<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICCalculator" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:10000/MyCCalculator/endpoint1"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICCalculator"
                contract="ComplexCalcClient.ICCalculator" name="BasicHttpBinding_ICCalculator" />
        </client>
    </system.serviceModel>
</configuration>